# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Secret key
secret.key

# Virtual environment
venv/
.env

# Debugging
.vscode/
*.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
