asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-environ
filelock
Pillow
pipenv
platformdirs
protobuf
psycopg2
psycopg2-binary
setuptools
sqlparse
typing_extensions
tzdata
virtualenv