* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #1a187a;
}


/* Color of the links BEFORE scroll */

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}


/* Color of the navbar BEFORE scroll */

.navbar-scroll {
    background-color: #ffc017;
}


/* Color of the links AFTER scroll */

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}


/* Color of the navbar AFTER scroll */

.navbar-scrolled {
    background-color: #fff;
}


/* An optional height of the navbar AFTER scroll */

.navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

.font-awesome-icons {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.slider-container {
    width: 100%;
    height: 100vh;
}

.custom_carousal {
    /* width: 1802px; */
    height: 600px !important;
    flex-shrink: 0;
}

.custom_carousal-icon {
    color: #670e86;
}


/* 11.11 Sale  */

.fixed-width {
    width: 300px;
    height: 350px;
}

.margin {
    margin-left: -30px;
}

.margin2 {
    margin-right: -30px;
}

.custom-bg {
    background-color: #958ad4;
    color: #ffffff;
}

.custom-text {
    color: #e74c3c;
}

.span {
    color: #25177b;
}


/* Styles for small screens */

@media (max-width: 767px) {
    .carousel_text {
        text-align: center;
        margin-bottom: 30px;
    }
    .carousel_text-p {
        font-size: 15px;
        color: #1e046a;
        text-align: center;
        margin: 0;
    }
    .carousel_text-p-2 {
        font-size: 35px !important;
        margin: 0;
        font-weight: normal;
    }
    .carousel_text-p-3 {
        color: black;
    }
    .carosul_button {
        margin-bottom: 270px;
        display: inline-flex;
        padding: 8px 30px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        background: #171495;
        color: white;
        border: none;
    }
    .brand_logo-parent {
        width: 50%;
    }
    .button_parent {
        width: 35%;
    }
    .banner-container {
        height: 700px;
    }
    .image-1 {
        width: 250px;
        height: 160px;
        position: absolute;
        top: -10px;
        right: 50px;
    }
    .image-2 {
        width: 285px;
        height: 240px;
        position: absolute;
        bottom: -10px;
        right: -10px;
    }
    .banner_text {
        padding-top: 210px;
    }
    .carousol-image {
        display: none;
    }
    .carousol-image-sm {
        display: block;
        position: absolute;
        bottom: -20px;
        right: 10%;
    }
    .model-advertisement {
        display: block;
    }
    .model-advertisement-left {
        width: 100%;
    }
    .model-advertisement-right {
        width: 100%;
    }
    .image-420-1 {
        display: none;
    }
    .image-420-2 {
        display: block;
        width: 370px;
        height: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .show_button {
        display: flex;
        padding: 16px 56px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        background: #27448e;
        color: white;
    }
    .left_side-image {
        height: 315px;
    }
}


/* Styles for larger screens */

@media (min-width: 768px) {
    .carousel_text {
        text-align: start;
    }
    .carousel_text-p {
        font-size: 25px;
        color: #1e046a;
        text-align: start;
    }
    .carousel_text-p-2 {
        font-size: 96px;
    }
    .carousel_text-p-3 {
        color: black;
    }
    .brand_logo-parent {
        width: 25%;
    }
    .banner-container {
        height: 450px;
    }
    .image-1 {
        position: absolute;
        left: 0;
    }
    .image-2 {
        position: absolute;
        right: 0;
    }
    .my-scarousol {
        position: absolute;
        top: 30%;
    }
    .carousol-image {
        /* height: 900; */
        display: block;
    }
    .carousol-image-sm {
        display: none;
    }
    .carosul_button {
        display: inline-flex;
        padding: 16px 56px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        background: #171495;
        color: white;
        border: none;
    }
    .model-advertisement {
        display: flex;
    }
    .model-advertisement-left {
        width: 50%;
    }
    .model-advertisement-right {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .show_button {
        display: flex;
        padding: 16px 56px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        background: #27448e;
        color: white;
    }
    .image-420-1 {
        display: block;
        height: 600px;
    }
    .image-420-2 {
        display: none;
    }
    .left_side-image {
        height: 315px;
    }
}