* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* global width  */
  .fixed_width {
    width: 1440px;
    margin: 0 auto;
  }
  
  /* nav section  */
  .nav_section {
    margin-top: 50px;
  }
  
  .nav_button {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.2);
    border: none;
  }
  
  .blog_button {
    border-radius: 4px;
    background: #ff1f3d;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: white;
  }
  
  /* tab styles  */
  .tab_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .common_button {
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.15);
    color: black;
    border: none;
  }
  
  .selected_button {
    border-radius: 4px;
    background: #ff1f3d;
  }
  .selected_button:focus {
    border: none;
    outline: none;
  }
  .nav_button:focus {
    border: none;
    outline: none;
  }
  .selected_button:active {
    border: none;
    outline: none;
  }
  .blog_button:focus {
    border: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* grid styles  */
  #cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    width: 310px;
    border: none !important;
    margin-top: 45px;
  }
  
  .card_img1 {
    width: 310px;
    height: 200px;
  }
  
  .card_details {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
    border: none;
  }
  
  .card_img2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
  .card_details-first_half {
    width: 20%;
  }
  .card_details-second_half {
    width: 80%;
  }
  .card_heading {
    color: #171717;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  
  .card-tick_icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .empty-img {
    text-align: center;
  }
  
  .empty p {
    color: #171717;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
  }
  
  @media (max-width: 767px) {
    #cardContainer {
      grid-template-columns: 1fr;
    }
    .fixed_width {
      width: 90%;
      margin: 0 auto;
    }
  
    .card_img1 {
      width: 100%;
    }
  }